@import "./Global/colors.scss";
@import "./Global/spacing.scss";
@import "./Global/media-queries.scss";

.site_info_wrapper {
   flex-grow: 1;
}

.site_link {
   text-decoration: none;

   // Unvisited link
   &:link {
      color: var(--color-primary)
   }

   // Visited link
   &:visited {
      color: var(--color-primary)
   }

   //  Mouse Over Link
   &:hover {
      color: var(--color-secondary)
   }

   // Selected link
   &:active {
      color: var(--gray-6);
   }
}

// Style For Title Link
.site_name {
   @extend .site_link;
   // flex-grow: 1;
   margin: auto 0;
   font-family: var(--font-secondary);
   font-weight: 500;
   font-size: calc(1em * var(--text-scale-ratio) * 1.33);
   line-height: 160%;
   letter-spacing: 0.25px;
   text-transform: uppercase;

   &:link {
      color: #000
   }

   // Visited link
   &:visited {
      color: #000
   }

   &:hover {
      color: var(--gray-6)
   }
}

.main_menu_wrapper {
   display: flex;
}

.main_menu_inner {
   max-width: 960px;
   margin: 48px auto;
   display: flex;
   width: 960px;
   height: 100%;
}

.menu_item {
   color: black;
   text-decoration: none;
   display: flex;
   padding: 0px 16px;
   margin: 0px 16px;
   font-weight: 500;
   font-size: 1em;
   line-height: 160%;
   text-align: center;
   align-items: center;
   /* justify-content: center; */
}

.menu_item:hover {
   /* font-weight: bold; */
   color: var(--color-primary)
}

.menu_item_selected {
   color: var(--color-primary)
}

.footer_contact {
   font-weight: 600;
   color: var(--gray-5);
   margin: 0px;
}

.footer_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

.footer_top_inner_wrapper {
   display: flex;
   justify-content: space-between;
}

.footer_icon_inner_wrapper a {
   margin-left: var(--space-sm);
}

.footer_bottom_inner_wrapper {
   @include margin-top--xl;
   text-align: center;
}

footer {
   margin-bottom: 0;
}


@include breakpoint(sm) {
   .site_name {
      padding: var(--space-unit);
      font-weight: 500;
      font-size: calc(1em * var(--text-scale-ratio) * 1.75);
      line-height: 160%;
      letter-spacing: 0.25px;
      text-transform: uppercase;
   }
}