.home_wrapper {
   display: flex;
   flex-direction: column;
   height: 135vh;
   justify-content: flex-end;
}

.home_banner_wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}