@import "./Global/colors.scss";
@import "./Global/media-queries.scss";

.largeWorkTitle {
   display: inline-block;
   text-align: center;
   letter-spacing: 0.25px;
   font-weight: 500;
   width: 75%;
   color: var(--black);
}

.largeWorkTitlePlay {
   display: inline-block;
   text-align: left;
   // letter-spacing: 0.25px;
   font-weight: 500;
   width: 100%;
   color: var(--black);
}

.play_wrapper {
   display: flex;
   height: 100vh;
   justify-content: space-between;
   flex-direction: column;
   pointer-events: none;
}

.play_wrapper_scroller {
   pointer-events: none;
}

.play_animation {
   transition: all 0.2s linear;
}

.top_h3_animation {
   @extend .play_animation;
   transform-origin: bottom left;
}

.top_h3_animation_mobile {
   transition: all 1s linear;
   transform-origin: bottom left;
   transform: translate3d(0, 55vh, 0) scale(0.85);
}

.center {
   text-align: center;
}

.first_text {
   color: var(--color-primary);
}

.second_text {
   color: var(--color-secondary);
}

.third_text {
   color: var(--color-primary-light);
}

// MEDIA QUERIES

@include breakpoint(sm) {

   .largeWorkTitle {
      text-align: left;
      font-size: calc(var(--text-xl) * .9);
   }

   .center {
      text-align: left;
   }

   .top_h3_animation {
      transition: all 1s linear;
      transform-origin: bottom left;
      transform: translate3d(0, 0vh, 0) scale(1);
   }
}