@import "./Global/grid_layouts.scss";
@import "./Global/spacing.scss";

.container_wrapper {
   @include margin-bottom--lg;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.title_wrapper {
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   justify-content: space-between;
}

.toggle_wrapper {
   margin: calc(var(--space-unit)* 1.25);
}


.title {
   @include margin-top--xs;
}

.fadeOut {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
   visibility: visible;
   opacity: 1;
   transition: visibility 0s linear 0s, opacity 300ms;
}

.main_component_wrapper {
   position: relative;
   top: 0;
   left: 0;
}

.toggle_component_wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.components_wrapper {

   position: relative;
   top: 0;
   left: 0;

}