@import "./Global/grid_layouts.scss";
@import "./Global/spacing.scss";

$width: calc(var(--space-xxxxl) * 3.25);
// $height: 40%;

.placeholder {
   width: $width;
   // height: $height;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: lightgrey;
}

.placeholder_full {
   @extend .placeholder;
   width: 100%;
   height: auto;
}

.displayImage {
   width: $width;
   // height: $height;
}

.displayImage_full {
   width: 100%;
   height: auto;
}

.caption {
   // width: $width;
   @include margin-top;
   word-wrap: break-word;
}

.zoom_image_wrapper {
   width: 100%;
   // display: flex;
   // justify-content: flex-start;
   // flex-direction: column;
}

.image_stacker {

   &__bottom {
      grid-row: 1;
      grid-column: 1;
      z-index: 1;
   }

   &__top {
      grid-row: 1;
      grid-column: 1;
      z-index: 2;
      pointer-events: none;
   }
}

.grid_top_margin {
   @include margin-top--lg;
}

.grid_two_one {

   @include margin-bottom--lg;
   @include grid(var(--space-lg), var(--space-lg));
   @include gridAuto($width);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grid_two_two {

   @include margin-bottom--lg;
   @include grid(var(--space-lg), var(--space-lg));
   @include gridAuto($width);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grid_two_three {

   @include margin-bottom--lg;
   @include grid(var(--space-lg), var(--space-lg));
   @include gridAuto($width);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.fadeOut {
   grid-row: 1;
   grid-column: 1;
   z-index: 2;
   pointer-events: none;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
   grid-row: 1;
   grid-column: 1;
   z-index: 2;
   pointer-events: none;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s linear 0s, opacity 300ms;
}